<section class="container-fluid">
<div>


      <form>

        <div class="form-group">
          <div class="col-xs-12">

            <textarea  class="form-control form-control-sm" [(ngModel)]="postForm.post"  type="text" id="post" name="post"></textarea>
                <section >
                    <div class="file" (click)="onClickDeleteFile( file )" *ngIf=" urlPhoto ">
                        <img [src]="urlPhoto">

                        <span class="trash fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
                        </span>
                    </div>
                  <progress *ngIf=" progress_bar " class="progressbar" value="{{ position }}" max="100">
                    <div class="progress">
                      <span class="progress-bar" [style.width]="widthProgress"></span>
                    </div>
                  </progress>
                </section>


              <div class="post-photo">
                <span class="camera fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-camera fa-stack-1x fa-inverse"></i>
                </span>
                <input multiple type="file" name="inputFile" [(ngModel)]="inputFileValue" #file (change)="onChangeFile($event, file.value)" accept="image/*">
              </div><!--/primary-photo-->

            <button type="button"class="btn btn-default btn-sm float-xs-right" (click)="onClickSubmit()">
              <span *ngIf="!post" >post</span>
              <span *ngIf="post" >update</span>
            </button>
            <button type="button"class="btn btn-default btn-sm float-xs-right" *ngIf="post"  (click)="onClickCancelEdit()">Cancel</button>
          </div>
        </div>


      </form>

</div>

</section>

