.form-control{
    resize: none;
}
.post-photo {
        position: relative;
        max-width: 14em;
        max-height: 14em;

        overflow: hidden;
        input {
            position: absolute;
            z-index: 100;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            font-size: 30em;
            opacity: .001;
        }
    }
        .file {
        position: relative;

        float: left;
        .trash {
            position: absolute;
            left: 0.1em;
            top: 1.9em;
        }
        .progressbar{
          position: absolute;
          left: 0em;
          top: 6.2em;
        }
    }

