<base-nav></base-nav>
<section class="center base-center col-sm-8 col-md-9 col-lg-6 col-xl-8">
  <br/>


  <form >

    <table class="container-fluid" cellspacing="0">
          <div class="primary-photo">
            <span class="camera fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-camera fa-stack-1x fa-inverse"></i>
            </span>
            <img [src]="urlPhoto">

            <input type="file" name="inputFile" [(ngModel)]="inputFileValue" #file (change)="onChangeFile($event, file.value)" accept="image/*">
          </div><!--/primary-photo-->








          <!-- This supports IE 9. IE 9 does not support HTML 5 -->
          <progress *ngIf=" file_progress " class="progress" value="{{ position }}" max="100">
            <div class="progress">
              <span class="progress-bar" [style.width]="widthProgress"></span>
            </div>
          </progress>
            <tr>
                <td><label for="firstname" >First Name</label></td>
                <td >
                    <input class="form-control" [(ngModel)]="registration_form.firstname"  type="text" id="firstname" name="firstname">
                </td>
            </tr>

            <tr>
                <td><label for="lastname" >Last Name</label></td>
                <td >
                    <input class="form-control" [(ngModel)]="registration_form.lastname"  type="text" id="lastname" name="lastname">
                </td>
            </tr>

            <tr *ngIf="!user_session">
                <td><label for="email" >Email</label></td>
                <td >
                <input class="form-control" [(ngModel)]="registration_form.email"  type="email" id="email" name="email">
                </td>
            </tr>

            <tr  *ngIf="!user_session">
                <td><label for="password" >Password</label></td>
                <td >
                    <input class="form-control" [(ngModel)]="password"  type="password" id="password" name="password">
                </td>
            </tr>




            <tr>
                <td><label> Gender</label></td>
                <td >
                    <label for="genderM" class="form-check-inline">
                        <input type="radio" class="form-check-input"  [(ngModel)]="registration_form.gender" name="genderM" id="genderM" value="male">
                        Male
                    </label>
                    <label for="genderF" class="form-check-inline">
                        <input type="radio" class="form-check-input"  [(ngModel)]="registration_form.gender" name="genderF" id="genderF" value="female">
                        Female
                    </label>

                </td>
            </tr>

            <tr >
                <td><label for="age">Age</label></td>
                <td >
                    <input class="form-control" [(ngModel)]="registration_form.age"  type="number" id="age" name="age" maxlength = "2" min = "1" max="99">
                </td>
            </tr>
             <tr>

            <td colspan="2">
                <!--<div class="process">
                    <div *ngIf=" process.loader ">
                        <i class="fa fa-spinner fa-spin"></i> Connecting to server ...
                    </div>
                    <div *ngIf=" process.error " class="alert alert-danger" role="alert">
                        <strong>Error!</strong> {{ process.error }}
                    </div>
                    <div *ngIf=" process.success " class="alert alert-success" role="alert">
                        <strong>Success!</strong> {{ process.success }}
                    </div>
                </div>   -->
                <button class="btn btn-primary" type="button" (click)="onClickRegister()"> {{ button_title }} </button>




            </td>
            </tr>
    </table>



  </form>
</section>
