<section>

  <div class="card">

        <div class="card" *ngIf="postEdit">
          <post-component
            [post]=post
            (cancel)  = " onCancelEditPost() "
            (success) = " editComponentOnSuccess() "
          ></post-component>
        </div>

        <div class="card-block" *ngIf="!postEdit"> <span *ngIf="userdata">{{ userdata.firstname }} {{ userdata.lastname }}<img src="{{ userdata.photo }}" alt="profile"></span>
        date: {{ post.values.created }} <span class="tag tag-success" *ngIf="post.values.updated">Edited</span>

          <h4 class="card-title">{{ post.values.post }}</h4>

            <div  *ngIf="post.more">

            </div>

              <button type="button" class="btn btn-secondary btn-sm" (click)=" post.more = ! post.more " >{{ post.more  ? 'Less' : 'More' }}</button>
              <button class="btn btn-default btn-sm" (click)="onClickAddComment()">Comment</button>
              <button class="btn btn-success btn-sm" (click)="onClickEdit( post, i )" *ngIf="post.values.uid == session">EDIT</button>
              <button class="btn btn-danger btn-sm" (click)="onClickDelete( post, i )" *ngIf="post.values.uid == session">DELETE</button>
        </div>
                <form-component *ngIf="showForm"
                [posts] = 'comments'
                [parentIDX]=post.key
                (success)='onSuccessComment()'
                ></form-component>



</div>

  <!--Temporarily commented out because it's still not finished-->
      <ng-container *ngFor="let comment of comments; let i = index">
        <comment-component
        [comment]=comment
        [post]=post
        (delete)='onClickDeleteComment(comment, i)'
        >

        </comment-component>
      </ng-container>

</section>
